.panel.panel-primary
  .panel-heading
    %h3.panel-title Меню в разработке
  .panel-body
    Этот пункт меню находится в разработке!
    %blockquote{:style => "margin: 10px 0 0"}
      %small Кликните на пункт меню повторно, чтобы вернуться назад.
