.row.stats-row{ng: {repeat: 'task in tasks track by $index'}}
  .col-sm-4
    .vliker-block.fit-width
      %a{href: '{{task.url}}', target: '_blank'}
        %img{src: "#{Rails.configuration.thumbnail_service}{{task.url}}"}
  .col-sm-8
    %h4

      -# ACTIVE
      %span{ng: {show: 'task.active'}}
        %span{ng: {show: 'task.queue > 0 && !task.likes'}}
          {{task.queue == 0 ? 'следующий' : task.queue}}<sup>й</sup> в очереди
        %span{ng: {show: 'task.likes > 0'}}
          В процессе
        %span{ng: {show: 'task.likes > 0'}}
          В процессе

      -# NOT ACTIVE
      %span{ng: {show: '!task.active'}}
        %span{ng: {show: 'task.likes >= task.need'}}
          Выполнено
        %span.text-danger{ng: {show: 'task.reports >= 3'}}
          Заблокировано

      %span.pull-right.label.label-default{ng: {hide: '!task.active && (task.reports >= 3)'}}
        %span{ng: {show: 'task.likes > 0'}}><
          {{task.likes}}/
        {{task.need}}
        %span.glyphicon.glyphicon-heart><

      %span.hint--top.pull-right{ng: {show: '!task.active && (task.reports >= 3)'},
        "data-hint" => "Страница недоступна, удалена или закрыта – пользователи не могут попасть на неё и поставить лайк"}
        %span.glyphicon.glyphicon-info-sign.pull-right
    .progress{ng: {class: "{'progress-striped': task.active,
                            'active': task.likes < task.need,
    }"}}
      .progress-bar{ng: {class: "{'progress-bar-default': task.likes == 0,
                                  'progress-bar-danger': !task.active && (task.reports >= 3),
                                  'progress-bar-primary': task.active && (task.likes > 0)}"},
      style: 'width: {{task.likes / task.need * 100}}%'}
        %span{ng: {show: 'task.likes > 0'}} {{task.likes / task.need * 100 | number:0}}%


-# TASKS LOADING
%center.margin-100{ng: {show: 'tasks === undefined'}}
  = inline_svg('three-dots')

-# NO TASKS
.center.margin-100{ng: {show: 'tasks === null || tasks.length == 0'}}
  = inline_svg('hearts')
  .h-menu
    %h1 Статистика пуста
    .hint-text
      Здесь будет отображаться статистика по накрученным лайкам, времени их поступления на страницу, места в очереди и другое
  %button.btn.btn-primary.btn-lg.btn-round{style: 'margin-top: 20px', ng: {click: 'setMenu(2)'}}
    Пристуить к накрутке
