.center.margin-100
  = inline_svg('hearts')
  .h-menu
    %h1 Магазин откроется 1 ноября
    .hint-text
      Здесь можно будет приобрести мгновенные лайки, друзей и подписчиков, репосты, вип-доступ и другое
  %button.btn.btn-primary.btn-lg.btn-round{style: 'margin-top: 20px; display: none'}
    Сообщить об открытии и получить скидку
