%center
  %a.dashed-hover{:href => "http://vk.com/write#{Rails.configuration.support_id}", :style => "margin-bottom: 12px", :target => "_blank"}
    %h4{:style => "margin-bottom: 3px"}
      %span.glyphicon.glyphicon-envelope{:style => "top: 3px; margin-right: 5px"}>
      Написать в поддержку клиентов
  %iframe.comments-iframe{:frameborder => "no", :scrolling => "no", :src => "http://graffitistudio.ru/vliker_comments.php"}
